@import 'tailwindcss';
@import "tailwindcss/utilities";

:root {
  --background: linear-gradient(109.6deg, rgba(223, 234, 247, 1) 11.2%, rgba(244, 248, 252, 1) 91.1%);
  --foreground: #000000;
}

.golos-text-regular {
  font-family: "Golos Text", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--background);
  background-repeat: no-repeat; /* Запобігає повторенню фону */
  background-size: cover; /* Масштабує фон, щоб покрити весь елемент */
  background-attachment: fixed; /* Фіксує фон, щоб він не прокручувався */
  color: var(--foreground);
  font-family: "Golos Text", sans-serif;

}